<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <property name="CONSOLE_PATTERN"
              value="%d{HH:mm:ss.SSS} [%thread] %-5level %highlight(%logger{36}) - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 降噪：Reactor Netty/WebFlux 大量 DEBUG 日志 -->
    <logger name="reactor.netty" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.springframework.cloud.gateway" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>

    <!-- 你的业务包 -->
    <logger name="com.ye94z" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>