<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye94z.payment.mapper.WalletAccountMapper">

    <resultMap id="BaseMap" type="com.ye94z.payment.entity.WalletAccount">
        <id     column="id"             property="id"/>
        <result column="user_id"        property="userId"/>
        <result column="balance_cents"  property="balanceCents"/>
        <result column="freeze_cents"   property="freezeCents"/>
        <result column="version"        property="version"/>
        <result column="create_time"    property="createTime"/>
        <result column="update_time"    property="updateTime"/>
    </resultMap>

    <select id="findByUserId" resultMap="BaseMap">
        select id, user_id, balance_cents, freeze_cents, version, create_time, update_time
        from pay_wallet_account
        where user_id = #{userId}
        limit 1
    </select>

    <update id="deductBalance">
        update pay_wallet_account
        set balance_cents = balance_cents - #{amount},
            version = version + 1,
            update_time = now()
        where user_id = #{userId}
          and version = #{version}
          and balance_cents >= #{amount}
    </update>

</mapper>