<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye94z.product.mapper.FlashProductMapper">

    <!--
      说明：
      1) 使用 resultType + 全字段选择，依赖全局 map-underscore-to-camel-case=true 做驼峰映射。
      2) 若实体字段与列名一一对应（驼峰 <-> 下划线），无需额外 resultMap。
    -->
    <select id="findById" resultType="com.ye94z.product.entity.FlashProduct">
        SELECT
            id,
            title,
            subtitle,
            images,
            description,
            flash_price_cents,
            origin_price_cents,
            stock,
            sold,
            limit_per_user,
            start_time,
            end_time,
            status,
            version,
            create_time,
            update_time
        FROM flash_product
        WHERE id = #{id}
        LIMIT 1
    </select>
    <update id="update">
            update flash_product
            <set>
                <if test="title != null">title = #{title},</if>
                <if test="subtitle != null">subtitle = #{subtitle},</if>
                <if test="images != null">images = #{images},</if>
                <if test="description != null">description = #{description},</if>
                <if test="flashPriceCents != null">flash_price_cents = #{flashPriceCents},</if>
                <if test="originPriceCents != null">origin_price_cents = #{originPriceCents},</if>
                <if test="initStock != null">stock = #{initStock},</if>
                <if test="sold != null">sold = #{sold},</if>
                <if test="limitPerUser != null">limit_per_user = #{limitPerUser},</if>
                <if test="startTime != null">start_time = #{startTime},</if>
                <if test="endTime != null">end_time = #{endTime},</if>
                <if test="status != null">status = #{status},</if>
                version = version + 1,
                update_time = CURRENT_TIMESTAMP
            </set>
            WHERE id = #{id}
    </update>
</mapper>